# generated sources
src/parse/gen/lexer.cc
src/parse/gen/location.hh
src/parse/gen/parser.cc
src/parse/gen/parser.hh
src/parse/lexer.cc
src/parse/parser.cc
src/parse/parser.hh

# binaries
src/parse/tests/lex
src/parse/tests/parse
src/xcmp
